body {
    background: url(../img/body_back.png);
  
   

    font-size: 14px;
	width : 960px;

}





a {
    color: #0000FF;
    text-decoration: none;
}

section {
    margin: 65px auto 15px;
    position: relative;
    
}

aside {
    position: absolute;
    top: 10px;
    width: 250px;
    
}



aside.right-col {
    
	width:  250px;
	padding : 10px;
	background-color: #222;
	
	right: 0px;
	
}

article.main-col {
   
    
    padding: 10px;
    min-height: 800px;
	background-color: #AAA;
	
}

.rounded-box {
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    margin: 0 0 10px;
}

.rounded-box h3 {
    color: gray;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin: 0 0 10px;
}


.posts{
 background-color: #999;
 
 padding: 1px 30px 1px 30px;
 
 margin: 0 0 15px;

}

.radius{
border-radius : 25px;
}

.login{
padding : 10px;
border-radius : 50px;
margin : 8px;

}
.button_new {
	font-size: 12px;
  
    border-radius: 5px;
    width: 60px;
    height: 30px;
	
}


.cen_txt
{


}
.new_head {

border-radius: 5px;

}
nav ul li {
    display: inline;
	color : #000;
}



a:hover{ 
    color: #aaa;
}
#c1{

padding-left : 10px;
float : right;
}

#arti{

width : 680px;
}

#sec {

margin-left : 190px;
}



 tr:nth-child(even) {
    background-color: #eee;
}
 tr:nth-child(odd) {
    background-color: #fff;
}
.desc{
font-family: "Helvetica Neue", Helvetica, Geneva, sans-serif;
background-color: #444;
margin-left : 250px;
padding-bottom : 30px;
padding-top : 10px;

}
=======
padding-left : 300px;

}



